.item {
  display: flex;
  gap: 24px;
  padding: 24px;
  max-width: 900px;

  border: 1px solid var(--border-color);
  border-radius: 20px;

  background-color: var(--white-cl);
}

.thumb {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  max-width: 525px;
}
.description {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
