.wrapper {
  display: flex;
  gap: 64px;
}
.text {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
