.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 290px;
  height: 310px;

  border-radius: 10px;

  background-image: url(../../images/placeholder.jpg);

  overflow-x: hidden;
}
.img {
  height: 310px;
}
