.fieldset {
  border: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  width: 112px;
  height: 105px;

  text-align: center;

  border-radius: 10px;
  border: 1px solid var(--border-color);

  transition: border-color var(--animation-cubicBezier);
}

.label:hover,
.label:focus {
  border: 1px solid var(--red-cl);
  cursor: pointer;
}

.label:has(input[type='radio']:checked) {
  border: 1px solid var(--red-cl);
}
.input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
