.input {
  width: 100%;
  padding: 18px;
  background-color: var(--main-bg-cl);
  border-radius: 10px;
  border: none;
}

.input::placeholder {
  color: var(--placeholder-color);
}

.textArea {
  min-height: 114px;
  overflow-wrap: normal;
  overflow-y: scroll;
}
